<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Login</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/305c544fde.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="header-box">
            <a class="header__logo" href="/"><img src="/img/logo-mercado-liebre.svg" alt="LogoML"></a>
            <form class="header-form__search-container">
                <div class="header-form__buscador">
                    <input id="header-form__input-search" type="text" name="search"
                        placeholder="Buscar productos, marcas">
                    <button class="header-form__button" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="header-mensaje">
            <p class="header-mensaje__parrafo"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
                tarjeta
                de crédito</p>
        </div>
        <div class="header-lista__container">
            <nav class="header-nav">
                <div class="header-nav__menu">
                    <ul class="header-nav__lista">
                        <li><a class="header-nav__link" href="#">Ofertas</a></li>
                        <li><a class="header-nav__link" href="#">Tiendas Oficiales</a></li>
                        <li><a class="header-nav__link" href="#">Vender</a></li>
                        <li><a class="header-nav__link" href="#">Ayuda</a></li>
                    </ul>
                </div>
                <div class="header-nav__menu2">
                    <ul class="header-nav__lista">
                        <li><a class="header-nav__link" href="/register">Creá tu cuenta</a><i
                                class="fa-regular fa-id-card header-nav__icono"></i></li>
                        <li><a class="header-nav__link" href="/login">Ingresá</a><i
                                class="fa-solid fa-right-to-bracket header-nav__icono"></i></li>
                        <li><a class="header-nav__link" href="#">Mis compras</a><i
                                class="fa-solid fa-basket-shopping header-nav__icono"></i></li>
                    </ul>
                </div>
                <div class="header-burger__menu">
                    <i class="fa-solid fa-bars header-burger__icono"></i>
                </div>
            </nav>
        </div>
    </header>
    <main class="main-form">
        <h1 class="main-form__title">Inicio de Sesión</h1>
        <div>
            <form class="form">
                <fieldset class="form-contenedor">
                    <legend class="form-contenedor__tittle">Identifícate</legend>
                    <label class="form-contenedor__label" for="usuario">Nombre de usuario</label>
                    <input class="form-contenedor__input" type="text" name="nombre" id="usuario" placeholder="Tu usuario" required>
                    <label class="form-contenedor__label" for="password">Contraseña</label>
                    <input class="form-contenedor__input" type="password" name="password" id="password" placeholder="Contraseña"
                        required>
                </fieldset>
                <div>
                    <button class="button button__enviar">Ingresar</button>
                </div>
                <div>
                <label class="form-contenedor__label">¿Sin usuario?<span><a href="/register"> Crea tu cuenta</a></span></label>
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-section">
            <i class="fa-solid footer-section__icono fa-credit-card"></i>
            <h4 class="footer-section__descripcion">Pagá con tarjeta o en efectivo Con Mercado</h4>
            <p>
                Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!
            </p>
        </div>
        <div class="footer-section">
            <i class="fa-solid footer-section__icono fa-gift"></i>
            <h4 class="footer-section__descripcion">Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es
                un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="footer-section">
            <i class="fa-solid footer-section__icono fa-user-shield"></i>
            <h4 class="footer-section__descripcion">Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                siempre protegid@
            </p>
        </div>
        <div class="footer__copyright">
            <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>