.footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: var(--colorGrisSemiOscuro);
  text-align: center;
}

.footer-section__icono {
  margin-bottom: 10px;
  font-size: 2em;
  color: var(--colorCeleste);
}

.footer-section {
  margin-bottom: 40px;
}

.footer__copyright {
  margin-bottom: 10px;
}