:root {
  --tipografiaGeneral: 'Roboto', sans-serif;
  --colorAmarillo: #eac926;
  --colorAzul: #0044aa;
  --colorCeleste: #1259c3;
  --colorGrisOscuro: #666;
  --colorGrisClaro: #ebebeb;
  --colorGrisSemiOscuro: #a8b3b7;
  --colorVerde: #39b54a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--tipografiaGeneral);
  font-size: 12px;
}