.header {
  width: 100%;
  height: auto;
  background-color: var(--colorAmarillo);
}

.header__logo {
  width: 40%;
  height: auto;
  padding: 25px 0 15px 30px;
}

.header-form__buscador {
  width: 40%;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.header-form__button {
  margin-top: 1.5px;
  margin-bottom: 20px;
}

/* Mensaje y menú vertical */

.header-mensaje {
  position: relative;
  width: 50%;
}

.header-mensaje__parrafo {
  position: absolute;
  margin-left: 35px;
  margin-top: 5px;
  white-space: nowrap;
}

.header-nav {
  margin-top: 60px;
}

.header-nav__menu {
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-nav__link {
  text-decoration: none;
}

.header-nav__icono {
  margin-left: 5px;
}

/* Menu hamburguesa */

.header-burger__menu {
  width: 100%;
  text-align: center;
}

.header-burger__icono {
  margin: 25px auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  color: var(--colorGrisClaro);
  background-color: var(--colorAzul);
}