header {
  width: 100%;
  height: auto;
  background-color: var(--colorAmarillo);
}

.logo-container {
  width: 40%;
  height: auto;
  padding: 25px 0 15px 30px;
}

.buscar-container {
  width: 40%;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

button {
  margin-top: 1.5px;
  margin-bottom: 20px;
}

/* Mensaje y menú vertical */

.header-mensaje {
  position: relative;
  width: 50%;
}

.header-mensaje p {
  position: absolute;
  margin-left: 35px;
  margin-top: 5px;
  white-space: nowrap;
}

.header-vertical {
  margin-top: 60px;
}

nav ul li a {
  text-decoration: none;
}

.header-nav {
  margin-top: 10px;
  margin-bottom: 20px;
}

.fa-solid,
.fa-regular {
  margin-left: 5px;
}

/* Menu hamburguesa */

.burger-menu {
  width: 100%;
  text-align: center;
}

.fa-bars {
  margin: 25px auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  color: var(--colorGrisClaro);
  background-color: var(--colorAzul);
}