.header {
  width: 100%;
  height: auto;
  background-color: var(--colorAmarillo);
}

.header__logo {
  width: 40%;
  height: auto;
  padding: 25px 0 15px 30px;
}

.header-form__buscador {
  width: 70%;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.header-form__button {
  margin-top: 1.5px;
  margin-bottom: 20px;
}

/* Mensaje y menú vertical */

.header-mensaje {
  width: 100%;
  text-align: center;
}

.header-mensaje__parrafo {
  margin-top: 5px;
  white-space: nowrap;
}

.header-nav {
  margin-top: 60px;
}

.header-nav__menu {
  display: none;
}

.header-nav__lista {
  list-style-type: none;
}

.header-nav__link {
  text-decoration: none;
}

.header-nav__icono {
  margin-left: 5px;
}

/* Menu hamburguesa */

.header-burger__menu {
  width: 100%;
  text-align: center;
}

.header-burger__icono {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  color: var(--colorGrisClaro);
  background-color: var(--colorAzul);
}

/* Tablet */

@media (min-width: 768px) {
  /* HEADER */
  .header-nav__menu {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .header-burger__menu {
    display: none;
  }
}
