body.home {
  width: 100%;
  min-height: 100vh;
}

.main {
  width: 100%;
  text-align: center;
}

.banner__img {
  width: 100%;
  display: block;
}

.main-section {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  background-color: var(--colorGrisClaro);
}

.main-section h1 {
  padding: 15px 0;
  font-size: 24px;
}

.main-section h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.section-article {
  margin: 0 15px;
  background-color: rgb(255, 255, 255);
}

.section-article:not(:last-child) {
  margin-bottom: 10px;
}

.section-article__descripcion,
.footer-section__descripcion {
  font-size: 16px;
  color: var(--colorGrisOscuro);
}

.section-article__img {
  width: 80%;
}

.section-article__descuento {
  font-size: 16px;
  color: var(--colorVerde);
}

.section-article__precio {
  font-size: 18px;
}