body.home {
  width: 100%;
  min-height: 100vh;
  background-color: #ebebeb;
}

.main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.banner__img {
  width: 100%;
  display: block;
}

.main-section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
  background-color: var(--colorGrisClaro);
}

.main-section h1 {
  padding: 15px 0;
  font-size: 24px;
  white-space: nowrap;
}

.main-section h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.section-article {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.section-article:not(:last-child) {
  margin-bottom: 10px;
}

.section-article__img {
  width: 70%;
}

.section-article__box {
  border-top: 1px solid #ebebeb;
  text-align: left;
  padding: 15px;
}

.fa-truck {
  padding: 5px 15px 15px 4px;
  border-radius: 50%;
  border: 1px solid var(--colorVerde);
}

.section-article__precio {
  font-size: 18px;
}

.section-article__descuento,
.fa-truck {
  font-size: 16px;
  color: var(--colorVerde);
}

.section-article__descripcion {
  display: none;
}

@media (min-width: 768px) {
  .section-article__descripcion {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    color: var(--colorGrisOscuro);
  }
}
