body {
  width: 100%;
  min-height: 100vh;
}

main {
  width: 100%;
  text-align: center;
}

.home-banner img {
  width: 100%;
  display: block;
}

.home-seccion h1{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
}

.home-seccion h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.home-seccion {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  background-color: var(--colorGrisClaro);
}

.home-article {
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(255, 255, 255);
}

.home-article:not(:last-child) {
  margin-bottom: 10px;
}

.titulo-descripcion {
  font-size: 16px;
  color: var(--colorGrisOscuro);
}

article img {
  width: 80%;
}

.descuento {
  font-size: 16px;
  color: var(--colorVerde);
}

.precio {
  font-size: 18px;
}