body.home {
  width: 100%;
  min-height: 100vh;
  background-color: #ebebeb;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.banner__img {
  width: 100%;
  display: block;
}

.main-section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
  background-color: var(--colorGrisClaro);

}

.main-section h1 {
  padding: 15px 0;
  font-size: 22px;
  white-space: nowrap;
  color: var(--colorGrisOscuro);
}

.main-section h2 {
  margin-bottom: 10px;
  font-size: 22px;
  color: var(--colorGrisOscuro);
}

.section-article {
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.section-article:not(:last-child) {
  margin-bottom: 10px;
}

.section-article__img {
  width: 70%;
}

.section-article__box {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 15px;
  border-top: 1px solid #ebebeb;
  text-align: left;
}

.section-article__box-icono {
  position: absolute;
  right: 20px;
  top: -15px;
  width: 30px;
  height: 30px;
  display: block;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #39b54a;
  border-radius: 50%;
  color: var(--colorVerde);
  background-color: #fff;
}

.section-article__precio {
  width: 30%;
  margin-bottom: 20px;
  font-size: 16px;
}

.section-article__descuento{
  width: 70%;
  padding-left: 20px;
  font-size: 14px;
  color: var(--colorVerde);
}

.section-article__descripcion {
  font-size: 14px;
  font-weight: 400;
  color: var(--colorGrisOscuro);
}

@media (min-width: 768px) {
  .section-article__descripcion {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    color: var(--colorGrisOscuro);
  }
}
