/* BANNER */

.tienda-banner__img {
  width: 100%;
  display: block;
  height: 80px;
}

/* BUSCADOR */

.tienda-main-form__contenedor, .tienda-section{
  width: 88%;
  margin: 0 auto;
}

.tienda-section__form{
  width: 90%;
  margin-bottom: 20px;
}

.tienda-form__buscar{
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

/* MAIN */

.tienda-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tienda-titulos {
  font-weight: 400;
  padding: 5px;
  text-align: center;
}

.tienda-titulos__span {
  font-weight: 600;
}

/* MARCAS */

.tienda-section-article {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  box-shadow: 0px 0px 10px #646464;
  border-radius: 10px;
  margin: 20px auto;
}


.tienda-section-article img {
  width: 100%;
  padding: 5px;
}


.tienda-section-article div:not(:last-child) {
  display: flex;
  border-bottom: #ebebeb 1px solid;

}

.tienda-section-article a:not(:last-child) {
  border-right: #ebebeb 1px solid;
}

.tienda-section-article p {
  padding-bottom: 10px;
}

/* VER TODAS */

.ver-todas {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--colorCeleste);
  padding: 5px;
  align-items: center;

}

.ver-todas__titulo {
  padding: 10px;
  font-weight: 600;
  color: var(--colorCeleste);
}

.flecha {
  padding: 10px;
}

.tienda-section-article div{
  padding-right: 0;
}
