/* BANNER */

.tienda-banner__img {
  width: 100%;
  display: block;
  height: 80px;
}

/* BUSCADOR */

.tienda-main-form__contenedor,
.tienda-section {
  width: 90%;
  margin: 0 auto;
}

.tienda-section__form {
  width: 100%;
  margin-bottom: 20px;
}

.tienda-form__buscar {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

/* MAIN */

.tienda-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ebebeb;
}

.tienda-titulos {
  font-weight: 400;
  padding: 5px;
  text-align: center;
}

.tienda-titulos__span {
  font-weight: 600;
}

/* MARCAS */

.tienda-section-article {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 10px #646464;
  border-radius: 10px;
  margin: 20px auto;
}

.tienda-section-article div {
  display: flex;
  flex-wrap: wrap;
}

.tienda-section-article div a {
  flex: 0 0 50%;
}

.tienda-section-article img {
  width: 80%;
  padding: 10px;
}

.tienda-section-article a {
  border-left: #ebebeb 1px solid;
}

.tienda-section-article a:first-of-type {
  border-left: none;
}

.tienda-section-article a:nth-of-type(1n) {
  border-bottom: #ebebeb 1px solid;
}

.tienda-section-article a:nth-child(2n) {
  border-bottom: #ebebeb 1px solid;
}

.tienda-section-article p {
  padding-bottom: 10px;
}

/* VER TODAS */

.ver-todas {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--colorCeleste);
  padding: 5px;
  align-items: center;
}

.ver-todas__titulo {
  padding: 10px;
  font-weight: 600;
  color: var(--colorCeleste);
}

.flecha {
  padding: 10px;
}

/* TABLET */

@media (min-width: 600px) {
  .tienda-banner__img {
    height: auto;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  .tienda-section-article div a {
    flex: 0 0 25%;
  }

  /* MARCAS */

  .tienda-section-article div a p {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s;
  }

  .tienda-section-article div a:hover p {
    height: 30px;
    opacity: 1;
  }
}
